
.homeBannerComponentContainer{
    margin-top: 80px;
}

.homeBannerComponent{
    
    display: flex;

}

.upperImage{
    height:70vh;
position:absolute;
background:red;
z-index: 100;
width:50%;
margin-left:25vw !important;
margin-top:-3vh;
border-radius: 20px;
}

.lowerImage{
    height:60vh;
    background:blue;
    width:80%;
    margin-top: auto;
    margin-left:10vw !important;
    border-radius: 20px;

}
.containerHeight{
height:9vh !important;
}