@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main_bg_primary{
  background:#005AEE,

}
.main_bg_secondary{
  background: #EE9400;
}

.main_text_primary{
color:#152730;
}
.main_text_secondary{

}

.main_heading{


}
.sub_heading{
}
.text_paragraph{
  font-size: 1.15rem;
}


.main_bg_dark_primary{
  background:black;
}
.main_bg_dark_secondary{

}

.main_text_dark_primary{
  color:white;
}
.main_text_dark_secondary{

}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .main_heading{


  }
  .sub_heading{
  }
  .text_paragraph{
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 576px) {
  .main_heading{


  }
  .sub_heading{
  }
  .text_paragraph{
    font-size: 0.7rem;
  }
}